@import "../../app.scss";
.about{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    // .textContainer{
    //     flex: 1;
    //     align-self: flex-end;
    //     display: flex;
    //     gap: 18px;
       
    //     @include mobile{
    //         align-self: center;
    //         text-align: center;
    //         flex-direction: column;
    //     }
            
    //     @include mobileLandscape{
    //         align-self: center;
    //         text-align: center;
    //         flex-direction: column;
    //     }
            @include mobileLandscape{
                display: flex;
                flex-direction: column;
                height: 100%;
            }

        
    // }
    .titleContainer{
        flex: 2;
        display: flex;
        
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        @include mobile {
                width: 100%;

            }
        @include mobileLandscape {
            display: flex;
            flex:1;
            width: 100%;
        }
        
            // @include mobile {
            //         text-align: center;
            //         align-items: flex-start;
            //         flex-direction: row;
            //         gap: 5px;
            //     }
            // @include mobileLandscape {
            //         text-align: center;
            //         align-items: flex-start;
            //         justify-content: flex-start;
            //         flex-direction: row;
            //         padding: 0px;
            //         gap: 20px;
            //         height:25vh;
            // }
                
            img{
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50px;
            padding-top: 10px;
            margin:10px 0 0 500px;
            display: flex;
            
            @include mobile {
                    width: 50%;
                    
                }
            @include mobileLandscape {
                    flex:1;
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 30px;
                    padding: 10px;
                    margin: 0px 0 0 95px;
                    width: 50%;
                    
                }
            }   
            .intro {
                
                margin-top: 20px;
                text-align: center;
                @include mobileLandscape{
                    flex:1;
                    flex-direction: column;
                    padding:10px;
                    margin-top: 0px;
                    height: 100px;
                    font-size: 13px;
                    
                }
            }
        
       
        // p{

        //     font-size: 20px;
        //     font-weight: 100;
            
        //     @include mobile {
        //             font-size: 30px;
        //         }
        //     @include mobileLandscape {
        //             font-size: 36px;
        //         }
        // }
       
    }

    
    .listContainer{
        flex: 2;
        display: flex;
        max-width: 1366px;
        padding: 20px;
        margin: auto;
        @include mobile {
                flex-direction: column;
                width: 100%;
                margin-top: 0px;
                
            }
        @include mobileLandscape {
            display: flex;
                flex-direction: row;
                // justify-content: flex-end;
                // align-items: flex-end;
                justify-content: space-between;
                text-align: center;
                padding: 10px 23px 23px 0px;
                // margin-top: 30px;
                width: 100%;
                height: 1em;
            }
        .box{
            padding: 50px;
            border: 0.5px solid gray;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;
            h2{
                @include mobileLandscape{
                    font-size: 20px;
                    text-decoration: underline;
                }
            }
            @include mobile {
                    
                    border: none;
                    align-items: center;
                    padding: 5px;
                }
            @include mobileLandscape{
                    
                    flex:1;
                    align-items: center;
                    padding: 0px;
                    margin-bottom: 100px;
                    margin-right: 30px;
                    gap: 0px;
                }
                // @include IphoneSE{
                //     padding: 3px;
                // }
            p{
               
                @include mobileLandscape {
                       
                        
                        
                        font-size: 10px;
                    }
            }
            
        }
    }
}